<!DOCTYPE html>
<html>
<head>
    <title>SCCWRP Published Dataset Search Engine</title>
    <script defer type="module" src="{{url_for('static', filename='js/main.js')}}"></script>
    {# <script defer type="text/javascript" src="{{url_for('static', filename='pages.js')}}"></script> #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    <div id="intro">
        <h2>SCCWRP Published Dataset Search Engine</h2>
        <p>Ask your question of our custom GPT that queries SCCWRP's unified database (chemistry, fish, inverts, and
            infauna) and get SQL and hopefully records. Check SQL for discrepancies if no records are returned.</p>
    </div>
    <div id="example-questions">
        <h2>Directions:</h2>
        <p><b>For the earlier models like gpt-3.5-turbo treat the GPT like a 12 year old child. You might have to provide background and explanations to get better answers. Newer models are more powerful and may not need as much interaction.</b>
        <ol>
         <li>Start simple by casting a wide net - Example: Can you return stations for the survey year 2018 that have Copper? Give me stationid, sampledate, latitude, longitude, strata, region, analytename, analyteclass, and result.</br></li>
         <li>Add complexity as the GPT starts to understand what you are after - Example: Can you subset the returned dataset and eliminate records with a result < 45?</li>
         <li>Remember this is a conversation so feel free to back track and get more information about a subject - Example: Are any of the current dataset records in the Alamitos Bay region?</li>
         <li>Adjust the question if the GPT does not return what you are expecting - Example: Instead of the count can you just give me the records?</li>
         </ol>
         </p>
    </div>
    <!-- 
    <div id="example-questions">
        <h4>Example questions:</h4>
        <ul>
            <li>1. Can you return stations for the survey year 2018 that have Copper?</li>
            <li>
                2. What sites have high concentrations of Copper and flatfish? You will need to make a database call to
                the chemistry and fish databases.
                Also, flatfish is not a species but rather a number of species. You will need to figure out which
                species are flatfish.
            </li>
        </ul>
    </div>
    // -->

    <form id="dataForm">
        <label for="question">
            <h2>Ask your question:</h2>
        </label>
        <input type="text" id="question" name="question" class="form-control" size="250">
    </form>
    <br>
    
    <div class="horizontal-btn-container">
        <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
        <button class="btn btn-secondary" id="chat-history-button">Show Chat/Question History</button>
    </div>

    <br>

    <div style="display:none;" class="response-box-container" id="sql-container">
        SQL:
        <div class="response-box" id="sql-box"></div>
    </div>
    <div style="display:none;" class="response-box-container" id="records-container">
        Records:
        <div>
            <label for="pagination">Display rows: </label>
            <select id="pagination">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
            </select>
        </div>
        <div>
            <a role="button" href="download" class="btn btn-primary" id="records-export">Export Current Records</a>
        </div>
        <div class="response-box" id="records-box"></div>
        <div class="d-flex justify-content-center" id="pagination-controls-container">
            <nav>
                <ul class="pagination" id="pagination-nav">
                    <li class="page-item" id="prev-page">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Numbers will be injected here by generatePagination() -->
                    <li class="page-item" id="next-page">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div style="display:none;" class="response-box-container" id="message-container">
        <div class="response-box" id="message-box"></div>
    </div>
    <div style="display:none;" class="response-box-container" id="error-container">
        Error:
        <div class="response-box" id="error-box"></div>
    </div>

    <!-- Modal -->
    <div id="loadingModal" class="modal">
        <div class="modal-content loading-modal-content">
            <img src="{{url_for('static', filename='images/ai-loading.gif')}}" alt="Loading"
                style="display:block; margin:auto; height:60%;width:60%;"> <!-- Replace with your loading gif -->
        </div>
    </div>
    
    <!-- chat history modal -->
    <div id="chat-history-modal" class="modal">
        <div class="modal-content chat-history-modal-content">
            <button id="close-modal" class="close-modal-button">X</button>
            <img id="chat-history-loading-gif" src="{{url_for('static', filename='images/loading.gif')}}" height="200" width="200" alt="Loading"
                style="display:none; margin:auto;"> <!-- Replace with your loading gif -->
            <div id="chat-history-content">

            </div>
        </div>
    </div>
</body>

</html>
