<!DOCTYPE html>
<html>

<head>
    <title>SCCWRP Published Dataset Search Engine</title>
    <script defer type="module" src="{{url_for('static', filename='main.js')}}"></script>
    {# <script defer type="text/javascript" src="{{url_for('static', filename='pages.js')}}"></script> #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        #dataForm {
            margin-bottom: 20px;
        }

        .response-box-container {
            margin-bottom: 15px;
        }

        .response-box {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
    </style>
</head>

<body>
    <div id="intro">
        <h2>SCCWRP Published Dataset Search Engine</h2>
        <p>Ask your question of our custom GPT that queries SCCWRP's unified database (chemistry, fish, inverts, and
            infauna) and get SQL and hopefully records. Check SQL for discrepancies if no records are returned.</p>
    </div>
    <div id="example-questions">
        <h4>Example questions:</h4>
        <ul>
            <li>1. Can you return stations for the survey year 2018 that have Copper?</li>
            <li>
                2. What sites have high concentrations of Copper and flatfish? You will need to make a database call to
                the chemistry and fish databases.
                Also, flatfish is not a species but rather a number of species. You will need to figure out which
                species are flatfish.
            </li>
        </ul>
    </div>

    <form id="dataForm">
        <label for="question">
            <h2>Ask your question:</h2>
        </label>
        <input type="text" id="question" name="question" class="form-control" size="250">
        <br>
        <input type="submit" value="Submit" id="submit" class="btn btn-primary">
    </form>

    <br>

    <div style="display:none;" class="response-box-container" id="sql-container">
        SQL:
        <div class="response-box" id="sql-box"></div>
    </div>
    <div style="display:none;" class="response-box-container" id="records-container">
        Records:
        <div>
            <label for="pagination">Display rows: </label>
            <select id="pagination">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
            </select>
        </div>
        <div>
            <a role="button" href="download" class="btn btn-primary" id="records-export">Export Current Records</a>
        </div>
        <div class="response-box" id="records-box"></div>
        <div class="d-flex justify-content-center" id="pagination-controls-container">
            <nav>
                <ul class="pagination" id="pagination-nav">
                    <li class="page-item" id="prev-page">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Numbers will be injected here by generatePagination() -->
                    <li class="page-item" id="next-page">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div style="display:none;" class="response-box-container" id="message-container">
        <div class="response-box" id="message-box"></div>
    </div>
    <div style="display:none;" class="response-box-container" id="error-container">
        Error:
        <div class="response-box" id="error-box"></div>
    </div>

    <!-- Modal -->
    <div id="loadingModal" class="modal">
        <div class="modal-content">
            <img src="{{url_for('static', filename='ai-loading.gif')}}" alt="Loading"
                style="display:block; margin:auto;"> <!-- Replace with your loading gif -->
        </div>
    </div>
</body>

</html>